
*{
    background-color: rgb(7, 2, 32);
    color: whitesmoke;
    text-align: center;
}

h1{
    background-color: rgb(7, 2, 32);
}

div{
    padding: 10px;
}

img{
    border:2px black solid;
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}

button{
    padding: 10px;
    background-color: rgb(4, 74, 95);
    font-size: 10;
    border: 2px solid rgb(19, 37, 77);
    border-radius: 10px;
}

button:hover{
    cursor: pointer;
    background-color: rgb(46, 177, 218);

}