.sidebar-label-container {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-size: 0.9rem;
}

.sidebar-label-container input {
  display: none;
}

.checkmark {
  width: 14px;
  height: 14px;
  border: 2px solid #555;
  border-radius: 50%;
  display: inline-block;
}

.sidebar-label-container input:checked + .checkmark {
  background-color: #555;
}
