.flex-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.flex-items{
    text-align: center;
    padding: 10px;
}

a{
    font-size: 1.5rem;
    padding: 2px 5px;
}

a:hover{
 cursor: pointer;
 font-size: 1.8rem;
}