/* * {
  padding: 0;
  margin: 15px;
  box-sizing: border-box;
  font-family: "Roboto", "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: rgb(12, 78, 42);
  cursor: pointer;
}

a:hover {
  color: rgb(13, 165, 59);
}

li{
  list-style: none;
}

.btns{
  padding: 10px 20px;
  margin-right: 6px;
  background: transparent;
  border: 1px solid #c3ecd9;
  border-radius: #323232;
  cursor: pointer;
}

h1, h2 {
  text-align: center;
  padding: 10px 15px;
  font-style: italic;
  font-family: "Roboto", "Open Sans", sans-serif;
}

p{
  text-align: justify;
  padding: 5px 10px;
  font-family: "Roboto", "Open Sans", sans-serif;
} */